name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed
    branches:
      - main

permissions:
  contents: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.14'
      - name: Install tests/lint dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --group=test --group=lint --upgrade
      - name: Run Ruff linter
        run: ruff check --quiet --output-format=concise
      - name: Run sphinx-linter
        run: spxl . --enable=ALL
      - name: Run pymport
        run: pymport .
      - name: Run tests and collect coverage
        run: python -m pytest tests/ --cov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rmoralespp/jsonl

  deploy-docsite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.14'
      - name: Install Documentation dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --group=doc
      - name: Build the documentation
        run: zensical build --clean
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site